#mailingListCard-root {
    padding: 10px;
    /* border-bottom: solid lightgray 1px; */
    margin-top: 0px;
}

#mailingListCard-root h1{
    font-size: 1.2em;
    margin-bottom: 0px;
    word-wrap: break-word;
    color: black;
}

#mailingListCard-root p{
    font-size: 0.9em;
    margin: 0px;
    color: black;
}

#mailingListCard-root button:hover {
    background-color: lightblue;
}

#mailingListCard-root button{
    width: 150px;
    overflow-wrap: normal;
}

#mailingListCard-root{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-wrap: normal;
}
