#sideList-root {
    border-right: 1px solid #000000;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-wrap: normal;
    text-align: center;
}

#sideList-root > button {
    height: 40px;
}

#sideList-root > p {
    border-bottom: 1px solid lightgray;
    margin-bottom: 0px;
}

#sideList-root > #mailingListCard-root {
    padding-top: 0px;
}


.buttonText{
    color: black;
}