#signUp-root {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 500px;
    text-align: center;
 }

div.sign-up-link {
    margin-top: 20px;
}

div.sign-up-link p {
    text-align: center;
}

.card {
    width: 25%;
    min-width: 380px;
    padding: 20px;
}

form {
    text-align: center;
}

input {
    width: fill;
}

#errorMessage {
    color: red;
    margin-top: 10px;
}